<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brewguide.android.coffeebrewguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChemexActivity"
            android:label="@string/title_activity_chemex"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brewguide.android.coffeebrewguide.MainActivity" />
        </activity>
        <activity
            android:name=".AeropressActivity"
            android:label="@string/title_activity_aeropress"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brewguide.android.coffeebrewguide.MainActivity" />
        </activity>
        <activity
            android:name=".HarioV60Activity"
            android:label="@string/title_activity_hario_v60"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brewguide.android.coffeebrewguide.MainActivity" />
        </activity>
        <activity
            android:name=".FrenchPressActivity"
            android:label="@string/title_activity_french_press"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brewguide.android.coffeebrewguide.MainActivity" />
        </activity>
        <activity
            android:name=".IcedCoffeeActivity"
            android:label="@string/title_activity_iced_coffee"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brewguide.android.coffeebrewguide.MainActivity" />
        </activity>
    </application>

</manifest>